<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Sistema.Properties.Settings.ConnectionString"
         connectionString="server=127.0.0.1;User Id=root;database=sistema;password=MyN1970xyz;"
      providerName="MySql.Data.MySqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>